<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-6">
    <form [formGroup]="locations">
      <div class="row" formArrayName="locations" 
        *ngFor="let location of locations.get('locations')['controls']; let locationIndex = index;">
        <ng-container [formGroupName]="locationIndex">
          <div class="col-4">
            <mat-form-field class="mat-form">
              <input matInput formControlName="pickupLocation" placeholder="Pickup location" required>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="mat-form">
              <input matInput formControlName="dropoffLocation" placeholder="Dropoff location" (focusout)="computeLineDesign()" required>
            </mat-form-field>
          </div>
          <div class="col-4">
            <div class="col-5">
                <button mat-button (click)="addLocation()" [disabled]="location.invalid">Add</button>
            </div>
            <div class="col-5">
              <button mat-button (click)="deleteLocation(locationIndex)">delete</button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <div>
          <button (click)="computeLineDesign()"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-6">
    <canvas id="graph" width="400" height="200"></canvas>
  </div>
</div>

<router-outlet></router-outlet>
